@font-face {
  font-family: 'iconfont';  /* project id 700339 */
  src: url('http://at.alicdn.com/t/font_700339_r4727idtmlsor.eot');
  src: url('http://at.alicdn.com/t/font_700339_r4727idtmlsor.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_700339_r4727idtmlsor.woff') format('woff'),
  url('http://at.alicdn.com/t/font_700339_r4727idtmlsor.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_700339_r4727idtmlsor.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  /*text-align: center;*/
}
